<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="gatepageHeaderFragment">

      <header class="gate-header">
            <h1>
              <svg>
                <title>mirae N</title>
                <use href="/assets/images/svg-sprite-solid.svg#logo-mirae-n"></use>
              </svg>
            </h1>
            <h2>선생님을 잇다, 엠티처</h2>
          <!-- <a href="https://main.m-teacher.co.kr/Main/Gate.mrn" class="origin-mteacher size-lg"> 기존 엠티처에서 보기 <svg>
              <title>아이콘 - icon-play-rounded</title>
              <use href="/assets/images/svg-sprite-solid.svg#icon-play-rounded"></use>
          </svg>
          </a> -->
      </header>

</th:block>
</html>