<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common/fragments/viewer_head :: viewerHeadFragment}"></head>
  <body>
    <th:block th:replace="~{common/fragments/ga4_body :: ga4BodyFragment}"></th:block>
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="~{common/fragments/viewerIncludeJs :: viewerIncludeJsFragment}"></th:block>
  </body>
</html>