/* korean */

/* icon */
.icon-think{margin-top:0px !important; width: 149px;height: 66px;background-image: url(../images/common/title/icon-think.png)}
.icon-supplement{margin-top:0px !important; width: 145px;height: 67px;background-image: url(../images/common/title/icon-supplement.png)}
.icon-word{margin-top:0px !important; width: 154px;height: 65px;background-image: url(../images/common/title/icon-word.png)}
.icon-exp{margin-top:-17px !important;width: 175px;height:70px;background-image: url(../images/common/title/icon-exp.png)}
.icon-confirm{margin-top:0 !important; width: 150px;height:61px;background-image: url(../images/common/title/icon-confirm.png)}
.icon-tidy{margin: -18px 20px 0 0px !important;width: 230px;height:75px;background-image: url(../images/common/title/icon-tidy.png);}
.icon-finish{margin: -18px 20px 0 0px !important;width: 315px;height:88px;background-image: url(../images/common/title/icon-finish.png)}
.icon-fusion{margin:-43px 20px 0 2px !important;width:259px;height:103px;background-image: url(../images/common/title/icon-fusion.png)}
.icon-act{margin-top:-17px !important;width: 175px;height:70px;background-image: url(../images/common/title/icon-act.png)}

