<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="viewerHeadFragment">
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>엠티처-미래엔교수활동플랫폼</title>

    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vex-js@4.1.0/dist/css/vex.css"
          integrity="sha256-/eaLySG/rPCowjMWyStmTPGtaU79NKiqodgU2X/PJ/g=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vex-js@4.1.0/dist/css/vex-theme-default.css"
          integrity="sha256-k8lNp1XCOztgAfpYiP1+lYwqY82ylXrl+Z5F176FscQ=" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/video-js.css" />
    
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer.module.css" />
    <!-- !NOTE : 미리보기 테스트 중입니다. -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer.custom.1.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer.custom.2.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer.custom.3.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer.custom.4.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/preview.css" /> -->
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer-sketchbook.css" />
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/m.preview.css" />

    <!-- TOBE -->
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer-skin-default.css" />
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer-skin-green.css" />
    <link rel="stylesheet" type="text/css" href="/js/pc/ele/viewer/css/viewer-skin-dark.css" />

    <!--CMS LINK 타입 미리보기를 위해 추가-->
    <link href="/renewal/css/container2024.css" rel="stylesheet" />
  </th:block>
</html>