<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>엠티처 mobile - common</title>
  <th:block th:replace="~{common/fragments/mo/includeJs :: includeJsFragment}"></th:block>
  <link href="/assets/mobile/css/common.css" rel="stylesheet" />
</head>
<!-- !NOTE : theme 4 case : 초등 theme-elementary, 중학 theme-middle, 고등 theme-high, 유틸공통 theme-common -->
<body class="theme-common">
<div class="error-wrapper connect">
  <div class="error-container">
    <img src="/assets/images/common/img-error-500@x2.png">
    <div class="error-text">
      <p class="title">서비스에 접속할 수 없습니다.</p>
      <p class="sub-text">죄송합니다. 기술적인 문제로 일시적으로 접속되지 않습니다. 잠시 후 다시 이용을 부탁드립니다. </p>
    </div>
    <a href="/" class="button"> 홈으로 이동 </a>
  </div>
</div>
</body>
</html>