<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common/fragments/mo/common_head :: commonHeadFragment}"></head>
  <body>
    <div class="wrapper members">
      <th:block layout:fragment="content"></th:block>
      <footer class="login-footer">
        <svg>
          <title>mirae N</title>
          <use href="/assets/images/svg-sprite-solid.svg#logo-mirae-n"></use>
        </svg>
        <p>MIRAEN CO., LTD. ALL Right Reserved</p>
      </footer>
    </div>

    <th:block th:replace="~{common/fragments/mo/auth_fragment}"></th:block>
    <th:block th:replace="~{common/fragments/mo/includeCertJs :: includeCertJsFragment}"></th:block>

    <!-- sns -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- post -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
      // 숫자 이 외 문자열 Key In 무시 처리
      function setNum(obj){
        val=obj.value;
        re=/[^0-9]/gi;
        obj.value=val.replace(re,"");
      }


      /// 주소 api
      function findAddr(no){
        new daum.Postcode({
          oncomplete: function(data) {

            console.log(data);
            var addressId = 'address1-'+ no;
            var postId = 'member_post-'+ no;

            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var jibunAddr = data.jibunAddress; // 지번 주소 변수
            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById(postId).value = data.zonecode;
            if(roadAddr !== ''){
              document.getElementById(addressId).value = roadAddr;
            }
            else if(jibunAddr !== ''){
              document.getElementById(addressId).value = jibunAddr;
            }
          }
        }).open();
      }
    </script>
  </body>
</html>