<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="commonHeadFragment">
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>엠티처 mobile - common</title>
  <link href="/assets/mobile/css/common.css" rel="stylesheet" />
  <!-- 바로가기 아이콘 -->
  <link rel="shortcut icon"
        type="image/png"
        href="/assets/images/common/img-shortcut-common.png">
  <!-- 180x180 이미지를 권장합니다. -->
  <link rel="icon" type="image/png"
        sizes="180x180"
        href="/assets/images/common/img-shortcut-common.png">
  <link rel="apple-touch-icon"
        sizes="180x180"
        href="/assets/images/common/img-shortcut-common.png">
  <link rel="apple-touch-icon-precomposed"
        sizes="180x180"
        href="/assets/images/common/img-shortcut-common.png"><!-- ios 기기에서 홈화면에 추가할 때 보여질 아이콘 이미지 -->
  <!-- ios 기기에서 홈화면에 추가할 때 앱 이름을 정의 할 수 있다. -->
  <meta name="apple-mobile-web-app-title" content="엠티처 초등">
  <meta name="theme-color" content="#02A39F">

  
</th:block>
</html>