<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="includeCertJsFragment">
    <!--GPKI-->
    <link rel="stylesheet" type="text/css" href="/toolkit/unisignweb/rsrc/css/certcommon.css"/>
    <script src="/toolkit/install/ObjectInstall.js"></script>
    <script src="/toolkit/unisignweb/js/unisignwebclient.js"></script>
    <script src="/toolkit/unisignweb/js/unisignweb.js"></script>
    <script src="/toolkit/unisignweb/js/certselect.js"></script>
    <script src="/toolkit/unisignweb/js/importfile.js"></script>
    <script src="/toolkit/unisignweb/js/cloudsignservice.js"></script>
    <script src="/toolkit/unisignweb/js/cloudconnect.js"></script>
    <script src="/toolkit/unisignweb/js/cloudservice.js"></script>
    <script src="/toolkit/unisignweb/framework/json2.js"></script>
    <script src="/certify/UniSignWeb_Multi_Init_Nim.js"></script>
    <!--//GPKI-->
  </th:block>
</html>
