<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="downloadByCategoryPopup">
    <!-- !NOTE : 초등 theme-elementary / 중학 theme-middle / 고등 theme-high 로 붙습니다. -->
    <body class="theme-elementary">
    <div class="popup" id="popup-type-data">
        <div class="popup-container size-xl">
            <button class="icon-button close-button" close-obj>
                <svg>
                    <title>아이콘 - icon-close</title>
                    <use href="/assets/images/svg-sprite-solid.svg#icon-close"></use>
                </svg>
            </button>
            <div class="header">
                <h3>유형별 자료</h3>
            </div>
            <div class="body">
                <div class="block-wrap gutter-lg">
                    <div class="table-items">
                        <table table-type="001">
                            <caption> 수업자료 </caption>
                            <colgroup>
                                <col style="width: 70%;">
                                <col style="width: 30%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">수업자료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">교과서</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-items">
                        <table table-type="002">
                            <caption> 평가자료 </caption>
                            <colgroup>
                                <col style="width: 70%;">
                                <col style="width: 30%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">평가자료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">평가 계획서</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-items">
                        <table table-type="003">
                            <caption> 멀티미디어 자료 </caption>
                            <colgroup>
                                <col style="width: 70%;">
                                <col style="width: 30%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">멀티미디어 자료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">동영상</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-items">
                        <table table-type="004">
                            <caption> 특화 자료 </caption>
                            <colgroup>
                                <col style="width: 70%;">
                                <col style="width: 30%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">특화 자료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">교과서</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">활동유형 분류명</a></th>
                                <td>
                                    <button class="button size-sm type-icon">
                                        <svg>
                                            <use href="/assets/images/svg-sprite-solid.svg#icon-download"></use>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button size-xl type-dark" close-obj>닫기</button>
            </div>
        </div>
    </div>
    </body>
<!--    <th:block th:replace="~{common/components/fileDownPopup :: fileDownPopupFragment}"></th:block>-->
</th:block>
</html>