<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
  <th:block th:fragment="eleGnbFragment">
  <div class="gnb-wrap">
    <div class="gnb-inner">
      <h1 class="logo"><a href="/pages/ele/Main.mrn">엠티처 초등</a></h1>
      <nav class="gnb">
        <ul>
          
            <li>
              <a href="#menu0">교과활동</a>
              <div class="lnb-wrap" id="menu0">
                <div class="lnb-inner">
                  <div class="grade-lnb">
                    <ul>
                      
                        <li data-grade="01"><a href="menu1-grade-1" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=1&revisionCode=2015&gradeCode=01&termCode=02">1 학년</a></li>
                      
                        <li data-grade="02"><a href="menu1-grade-2" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=4&revisionCode=2015&gradeCode=02&termCode=02">2 학년</a></li>
                      
                        <li data-grade="03"><a href="menu1-grade-3" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=03&termCode=03">3 학년</a></li>
                      
                        <li data-grade="04"><a href="menu1-grade-4" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=15&revisionCode=2015&gradeCode=04&termCode=03">4 학년</a></li>
                      
                        <li data-grade="05"><a href="menu1-grade-5" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=23&revisionCode=2015&gradeCode=05&termCode=03">5 학년</a></li>
                      
                        <li data-grade="06"><a href="menu1-grade-6" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=30&revisionCode=2015&gradeCode=06&termCode=03">6 학년</a></li>
                      
                    </ul>
                    <div class="grade-contents">
                      
                        <div id="menu1-grade-1">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-2">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-3">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-4">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-5">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-6">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                    </div>
                  </div>
                  <div class="banners">
                    <!-- 메뉴 배너 admin 개발 필요 -->
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 애플 넘버스,<br /> 어떤 서비스일까요? </h2>
                        <p class="desc"> 학생 공동 작업이 가능한 넘버스 앱을 <br /> 활용하여 새로운 학습 방식으로 <br /> 학생들의 참여도를 높여 보세요! </p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li>
          
            <li>
              <a href="#menu7">평가자료</a>
              <div class="lnb-wrap" id="menu7">
                <div class="lnb-inner">
                  <div class="grade-lnb">
                    <ul>
                      
                        <li data-grade="01"><a href="menu1-grade-1" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=01&termCode=02">1 학년</a></li>
                      
                        <li data-grade="02"><a href="menu1-grade-2" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=02&termCode=02">2 학년</a></li>
                      
                        <li data-grade="03"><a href="menu1-grade-3" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=03&termCode=03">3 학년</a></li>
                      
                        <li data-grade="04"><a href="menu1-grade-4" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=04&termCode=03">4 학년</a></li>
                      
                        <li data-grade="05"><a href="menu1-grade-5" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=05&termCode=03">5 학년</a></li>
                      
                        <li data-grade="06"><a href="menu1-grade-6" name="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=06&termCode=03">6 학년</a></li>
                      
                    </ul>
                    <div class="grade-contents">
                      
                        <div id="menu1-grade-1">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-2">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-3">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-4">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-5">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                        <div id="menu1-grade-6">
                          <div class="lnb-header">
                          </div>
                          <div class="lnb-contents">
                          </div>
                        </div>
                      
                    </div>
                  </div>
                  <div class="banners">
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 2024년 신학기, 새로운 엠티처를 만나세요! </h2>
                        <p class="desc">원하는 자료를 빠르게 찾는 교과서 자료실부터, 수업을 분석하고 리포팅하는 AI 클래스까지. 더욱 편리하고 알찬 수업을 위해 엠티처가 새롭게 태어납니다.</p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li>
          
          
            <li>
              <a href="#menu14">기초학력</a>
              <div class="lnb-wrap" id="menu14">
                <div class="lnb-inner type-line">
                  <ul class="lnb">
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/basiclearning/basicStudyBook.mrn/712">기초 학습지</a>
                        <div class="depth-3">
                          
                            <a href="/pages/ele/board/basiclearning/basicStudyBook.mrn/712?tabSeq=0">어휘</a>
                          
                            <a href="/pages/ele/board/basiclearning/basicStudyBook.mrn/712?tabSeq=1">연산</a>
                          
                            <a href="/pages/ele/board/basiclearning/basicStudyBook.mrn/712?tabSeq=2">영단어</a>
                          
                            <a href="/pages/ele/board/basiclearning/basicStudyBook.mrn/712?tabSeq=3">한자<span class="new">n</span></a>
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/basiclearning/hangulLearning.mrn/911">한글 익히기<span class="new">n</span></a>
                        <div class="depth-3">
                          
                            <a href="/pages/ele/board/basiclearning/hangulLearning.mrn/911?tabSeq=0">기초한글</a>
                          
                            <a href="/pages/ele/board/basiclearning/hangulLearning.mrn/911?tabSeq=1">주제별 낱말 익히기</a>
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/basiclearning/textEbook.mrn">교과서 E-Book</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/basiclearning/smartClass.mrn">스마트 수업</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                  </ul>
                  <div class="banners">
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 애플 넘버스,<br /> 어떤 서비스일까요? </h2>
                        <p class="desc"> 학생 공동 작업이 가능한 넘버스 앱을 <br /> 활용하여 새로운 학습 방식으로 <br /> 학생들의 참여도를 높여 보세요! </p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li>
          
            <li>
              <a href="#menu25">특화자료실</a>
              <div class="lnb-wrap" id="menu25">
                <div class="lnb-inner type-line">
                  <ul class="lnb">
                    
                      <li class="depth-2">
                        <a href="">국어</a>
                        <div class="depth-3">
                          
                            <a href="/pages/ele/board/specializeddata/koreanContents.mrn/1055?tabSeq=0">국어 작품 감상실</a>
                          
                            <a href="/pages/ele/board/specializeddata/readAllContents.mrn/1057?tabSeq=1">온 작품 읽기</a>
                          
                            <a href="/pages/ele/board/specializeddata/koreanTheaterPlayground.mrn/1058?tabSeq=2">연극 놀이터</a>
                          
                            <a href="/pages/ele/board/specializeddata/koreanPuzzleLearningVoca.mrn/1066?tabSeq=3">퍼즐로 배우는 어휘</a>
                          
                            <a href="/pages/ele/board/specializeddata/specialKoreanData.mrn?tabSeq=4">특수교육 국어 자료실</a>
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="">수학</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="">사회</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="">과학</a>
                        <div class="depth-3">
                          
                            <a href="/pages/ele/board/specializeddata/scienceExplorationPaper.mrn?tabSeq=0">과학 다른 탐구 활동지</a>
                          
                            <a href="/pages/ele/board/specializeddata/scienceDigitalLab.mrn/1221?tabSeq=1">과학 디지털 실험실</a>
                          
                        </div>
                      </li>
                    
                  </ul>
                  <div class="banners">
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 애플 넘버스,<br /> 어떤 서비스일까요? </h2>
                        <p class="desc"> 학생 공동 작업이 가능한 넘버스 앱을 <br /> 활용하여 새로운 학습 방식으로 <br /> 학생들의 참여도를 높여 보세요! </p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li>
          
            <li>
              <a href="#menu41">창의적 체험활동</a>
              <div class="lnb-wrap" id="menu41">
                <div class="lnb-inner type-line">
                  <ul class="lnb">
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/chanceEducation.mrn/1067">계기 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/swaiEducation.mrn/1068">SW·AI 교육<span class="new">n</span></a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/futureEducation.mrn/1069">진로 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/personalityEducation.mrn/1070">인성 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/mediaLiteracy.mrn/1071">미디어리터러시</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/unityEducation.mrn/1072">통일 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/dokdoEducation.mrn/1073">독도 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/economyEducation.mrn/1074">경제·금융 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/humanRightsEducation.mrn/1075">인권 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/multiculturalEducation.mrn/1076">다문화 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/safetyHealthEducation.mrn/1077">안전/건강 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/citizenEducation.mrn/1078">민주시민 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/creativexp/envEducation.mrn/1079">환경/지속가능발전 교육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                  </ul>
                  <div class="banners">
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 애플 넘버스,<br /> 어떤 서비스일까요? </h2>
                        <p class="desc"> 학생 공동 작업이 가능한 넘버스 앱을 <br /> 활용하여 새로운 학습 방식으로 <br /> 학생들의 참여도를 높여 보세요! </p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li>
          
            <li>
              <a href="#menu55">쉬는시간</a>
              <div class="lnb-wrap" id="menu55">
                <div class="lnb-inner type-line">
                  <ul class="lnb">
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/funnyStory.mrn/725">재미있는 이야기</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/funPlay.mrn/726">즐거운 놀이</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/excitingArt.mrn/727">신나는 미술</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/superSimpleAthletic.mrn/728">초간단 체육</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/wiseExplorationLife.mrn/729">슬기로운 탐구 생활</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/greatHistoryPerson.mrn/730">위대한 역사/인물</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/properNiceWords.mrn/731">바른말 고운말</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/solidBasicMathSong.mrn/732">기초탄탄 수학송</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/tenMinMusicPlay.mrn/733">10분 완성 음악 놀이</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                      <li class="depth-2">
                        <a href="/pages/ele/board/breaktime/luluLearningSong.mrn/734">룰루랄라 학습송</a>
                        <div class="depth-3">
                          
                        </div>
                      </li>
                    
                  </ul>
                  <div class="banners">
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 애플 넘버스,<br /> 어떤 서비스일까요? </h2>
                        <p class="desc"> 학생 공동 작업이 가능한 넘버스 앱을 <br /> 활용하여 새로운 학습 방식으로 <br /> 학생들의 참여도를 높여 보세요! </p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li>
          
            <!-- !NOTE : 02-06 기획요청으로 2월 오픈전 티처 LIVE 메뉴 숨김
               <li>
              <a href="#menu66">티처  LIVE</a>
              <div class="lnb-wrap" id="menu66">
                <div class="lnb-inner type-line">
                  <ul class="lnb">
                    
                  </ul>
                  <div class="banners">
                    <a href="https://g.m-teacher.co.kr/pages/common/customer/notice.mrn/2501" target="_blank">
                      <div class="banner-inner">
                        <h2> 애플 넘버스,<br /> 어떤 서비스일까요? </h2>
                        <p class="desc"> 학생 공동 작업이 가능한 넘버스 앱을 <br /> 활용하여 새로운 학습 방식으로 <br /> 학생들의 참여도를 높여 보세요! </p>
                        <button type="button" class="banner-button">자세히보기</button>
                      </div>
                      <img src="/assets/images/common/img-open-banner.png" alt="2024년 신학기, 새로운 엠티처를 만나세요!" />
                    </a>
                  </div>
                </div>
                <button type="button" class="close-button">닫기</button>
              </div>
            </li> -->
          
        </ul>
      </nav>
    </div>
    <div class="buttons">
      <form action="" class="search">
        <div class="search-inner">
          <input type="text" name="" id="" placeholder="검색어를 입력해 주세요" />
          <button type="button" class="icon-button icon-search" title="검색">
            <svg>
              <use xlink:href="/assets/images/svg-sprite-solid.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
      <div class="site-map">
        <button type="button" class="icon-button">
          <svg>
            <title>사이트 맵 아이콘</title>
            <use xlink:href="/assets/images/svg-sprite-solid.svg#icon-menu"></use>
          </svg>
        </button>
        <div class="site-map-inner">
          <div class="slider-view-auto fluid">
            <div class="swiper slides">
              <div class="swiper-wrapper">
              </div>
            </div>
          </div> 
          <ul class="depth-items">
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">교과활동</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=1&revisionCode=2015&gradeCode=01&termCode=02">
                      1 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=4&revisionCode=2015&gradeCode=02&termCode=02">
                      2 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=03&termCode=03">
                      3 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=15&revisionCode=2015&gradeCode=04&termCode=03">
                      4 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=23&revisionCode=2015&gradeCode=05&termCode=03">
                      5 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=30&revisionCode=2015&gradeCode=06&termCode=03">
                      6 학년
                    </a>
                  
                </div>
              </li>
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">평가자료</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=01&termCode=02">
                      1 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=02&termCode=02">
                      2 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=03&termCode=03">
                      3 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=04&termCode=03">
                      4 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=05&termCode=03">
                      5 학년
                    </a>
                  
                    <a href="/pages/ele/textbook/textbookDetail.mrn?masterSeq=7&revisionCode=2015&gradeCode=06&termCode=03">
                      6 학년
                    </a>
                  
                </div>
              </li>
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">기초학력</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/ele/board/basiclearning/basicStudyBook.mrn/712">
                      기초 학습지
                    </a>
                  
                    <a href="/pages/ele/board/basiclearning/hangulLearning.mrn/911">
                      한글 익히기<span class="new">n</span>
                    </a>
                  
                    <a href="/pages/ele/board/basiclearning/textEbook.mrn">
                      교과서 E-Book
                    </a>
                  
                    <a href="/pages/ele/board/basiclearning/smartClass.mrn">
                      스마트 수업
                    </a>
                  
                </div>
              </li>
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">특화자료실</a></h2>
                <div class="depth-2">
                  
                    <a href="">
                      국어
                    </a>
                  
                    <a href="">
                      수학
                    </a>
                  
                    <a href="">
                      사회
                    </a>
                  
                    <a href="">
                      과학
                    </a>
                  
                </div>
              </li>
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">창의적 체험활동</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/ele/board/creativexp/chanceEducation.mrn/1067">
                      계기 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/swaiEducation.mrn/1068">
                      SW·AI 교육<span class="new">n</span>
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/futureEducation.mrn/1069">
                      진로 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/personalityEducation.mrn/1070">
                      인성 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/mediaLiteracy.mrn/1071">
                      미디어리터러시
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/unityEducation.mrn/1072">
                      통일 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/dokdoEducation.mrn/1073">
                      독도 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/economyEducation.mrn/1074">
                      경제·금융 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/humanRightsEducation.mrn/1075">
                      인권 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/multiculturalEducation.mrn/1076">
                      다문화 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/safetyHealthEducation.mrn/1077">
                      안전/건강 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/citizenEducation.mrn/1078">
                      민주시민 교육
                    </a>
                  
                    <a href="/pages/ele/board/creativexp/envEducation.mrn/1079">
                      환경/지속가능발전 교육
                    </a>
                  
                </div>
              </li>
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">쉬는시간</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/ele/board/breaktime/funnyStory.mrn/725">
                      재미있는 이야기
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/funPlay.mrn/726">
                      즐거운 놀이
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/excitingArt.mrn/727">
                      신나는 미술
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/superSimpleAthletic.mrn/728">
                      초간단 체육
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/wiseExplorationLife.mrn/729">
                      슬기로운 탐구 생활
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/greatHistoryPerson.mrn/730">
                      위대한 역사/인물
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/properNiceWords.mrn/731">
                      바른말 고운말
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/solidBasicMathSong.mrn/732">
                      기초탄탄 수학송
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/tenMinMusicPlay.mrn/733">
                      10분 완성 음악 놀이
                    </a>
                  
                    <a href="/pages/ele/board/breaktime/luluLearningSong.mrn/734">
                      룰루랄라 학습송
                    </a>
                  
                </div>
              </li>
            
              <!-- !NOTE : 02-06 기획요청으로 2월 오픈전 티처 LIVE 메뉴 숨김
                <li class="depth-1">
                <h2><a href="javascript:void(0);">티처  LIVE</a></h2>
                <div class="depth-2">
                  
                    <a href="링크 필요">
                      LIVE 강연
                    </a>
                  
                    <a href="링크 필요">
                      혁신수업N
                    </a>
                  
                    <a href="링크 필요">
                      콘텐츠
                    </a>
                  
                    <a href="링크 필요">
                      자료나눔
                    </a>
                  
                </div>
              </li> -->
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">마이페이지</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/common/mypage/myclass.mrn">
                      My Class
                    </a>
                  
                    <a href="/pages/common/mypage/myinfo.mrn">
                      나의 정보
                    </a>
                  
                    <a href="/pages/common/mypage/myquest.mrn">
                      나의 문의
                    </a>
                  
                    <a href="/pages/common/mypage/myboard.mrn">
                      게시물 관리
                    </a>
                  
                </div>
              </li>
            
              <li class="depth-1">
                <h2><a href="javascript:void(0);">고객센터</a></h2>
                <div class="depth-2">
                  
                    <a href="/pages/common/customer/notice.mrn">
                      공지사항
                    </a>
                  
                    <a href="/pages/common/customer/useinfo.mrn">
                      이용안내
                    </a>
                  
                    <a href="/pages/common/customer/event.mrn">
                      이벤트
                    </a>
                  
                    <a href="/pages/common/customer/faq.mrn">
                      자주 찾는 질문
                    </a>
                  
                    <a href="/pages/common/customer/request.mrn">
                      1:1문의
                    </a>
                  
                    <a href="/pages/common/customer/serviceinfo.mrn">
                      참고서/교과서 구입 안내
                    </a>
                  
                    <a href="/pages/common/customer/program.mrn">
                      필수 프로그램
                    </a>
                  
                </div>
              </li>

              <li class="depth-1"></li>
            
          </ul>
          <button type="button" class="close-button">닫기</button>
        </div>
      </div>
    </div>
  </div>
  </th:block>
</html>
