<div class="gnb-wrap">
  <div class="gnb-inner">
    <h1 class="logo">
        <a href="/pages/high/Main.mrn">
            <img th:src="${highLogo.pcLogoSrc}" src="/assets/images/common/logo-high.svg" alt="엠티처 고등">
        </a>
    </h1>

    <nav class="gnb">
      <ul>
        <th:block th:each="level1Item, level1Stat: ${gnbList}" th:if="${level1Item.level eq 1}">
          <li th:data-sort="${level1Item.sortCode}">
            <a th:href="'#subject' + ${level1Item.sortCode}" th:text="${level1Item.name}" th:target="${level1Item.target}"></a>

            <div class="lnb-wrap" th:id="'subject' + ${level1Item.sortCode}" th:data-url="${level1Item.pageUrl}">
              <div class="mybook">
                <div class="mybook-inner">
                  <a href="#" class="button"> 내 교과서 <svg>
                      <title>아이콘 설정하기</title>
                      <use xlink:href="/assets/images/svg-sprite-solid.svg#icon-setting"></use>
                    </svg>
                  </a>

                  <ul>
                    <!-- <li class="alert-button">
                      <a href="#">국어 1-1(신유식)</a>
                      <button type="button" class="icon-button" title="삭제">
                        <svg>
                          <title>아이콘 설정하기</title>
                          <use xlink:href="/assets/images/svg-sprite-solid.svg#icon-close"></use>
                        </svg>
                      </button>
                    </li> -->
                  </ul>
                </div>
              </div>

              <div class="lnb-scroll">
                <div class="lnb-inner">
                  <div class="lnb type-text-box">
                    <div class="lnb-header">
                      <div class="buttons type-rounded">
                        <span>
                          <input type="radio" th:name="'subject' + ${level1Item.sortCode} + '-revision-01'" th:id="'subject' + ${level1Item.sortCode} + '-revision-01-2015'" checked />
                          <label th:for="'subject' + ${level1Item.sortCode} + '-revision-01-2015'">2015 개정</label>
                        </span>
                        <span>
                          <input type="radio" th:name="'subject' + ${level1Item.sortCode} + '-revision-01'" th:id="'subject' + ${level1Item.sortCode} + '-revision-01-2022'" data-revision="2022">
                          <label th:for="'subject' + ${level1Item.sortCode} + '-revision-01-2022'">2022 개정</label>
                        </span>
                      </div>
                    </div>
                    <div class="lnb-contents">
                      <!-- <a href="#" class="text-data">영어1 (최연희)</a>
                      <a href="#" class="text-data">영어2 (최연희)</a>
                      <a href="#" class="text-data">영어3 (최연희)</a> -->
                    </div>
                  </div>

                  <div class="banners">
                    <a href="" target="_blank">
                        <div class="banner-inner">
                        <h2> 2024년 신학기, 새로운 엠티처를 만나세요! </h2>
                        <p className="desc">원하는 자료를 빠르게 찾는 교과서 자료실부터, 수업을 분석하고 리포팅하는 AI 클래스까지. 더욱 편리하고 알찬 수업을 위해 엠티처가 새롭게 태어납니다.</p>
                        <button type="button" className="banner-button">자세히보기</button>
                        </div>
                        <img src="" alt="GNB 배너" />
                    </a>
                  </div>
                  <button type="button" class="close-button">닫기</button>
                </div>
              </div>
            </div>
          </li>
        </th:block>
      </ul>
    </nav>
  </div>

  <div class="buttons">
    <!-- 검색 -->
    <form action="" class="search">
      <div class="search-inner">
        <input type="text" name="" id="" placeholder="검색어를 입력해 주세요" />
        <button type="button" class="icon-button icon-search" title="검색">
          <svg>
            <use xlink:href="/assets/images/svg-sprite-solid.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>

    <!-- 사이트 맵 -->
    <div class="site-map">
      <button id="siteMapHigh" type="button" class="icon-button">
        <svg>
          <title>메가 메뉴 아이콘</title>
          <use xlink:href="/assets/images/svg-sprite-solid.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="site-map-inner">
        <ul id="siteMapList" class="depth-items type-vertical">
          <th:block th:each="level1Item, level1Stat: ${sitemapList}" th:if="${level1Item.level eq 1}">
            <li th:id="${level1Item.key1}" th:class="${(level1Item.name == '특화 자료실' || level1Item.name == '특화자료실')?'depth-1 board-top-line':'depth-1'}">
              <h2>
                  <a    th:if="${level1Item.key1 == '' && level1Item.pageUrl != ''}" th:href="${level1Item.pageUrl}" th:target="${level1Item.target}">[[${level1Item.name}]]</a>
                  <span th:if="${level1Item.key1 == '' && level1Item.pageUrl == ''}">[[${level1Item.name}]]</span>
                  <span th:if="${level1Item.key1 != '' && level1Item.pageUrl == ''}">[[${level1Item.name}]]</span>
                  <span th:if="${level1Item.key1 != '' && level1Item.pageUrl != ''}">[[${level1Item.name}]]</span>
              </h2>
              <div class="depth-2">
                <th:block th:each="level2Item, level2Stat: ${sitemapList}" th:if="${level1Item.seq eq level2Item.parentSeq and level2Item.level eq 2}">
                  <a th:href="${level2Item.pageUrl}" th:target="${level2Item.target}">
                    [[${level2Item.name}]]
                    <span class="blank" th:if="${level2Item.target eq '_blank'}">
                      <svg>
                        <title>아이콘 - 새창</title>
                        <use href="/assets/images/svg-sprite-solid.svg#icon-new-windows"></use>
                      </svg>
                    </span>
                    <span class="new" th:if="${level2Item.newIconYn eq 'Y'}">n</span>
                  </a>
                </th:block>
              </div>
            </li>
          </th:block>
        </ul>
        <button type="button" class="close-button">닫기</button>
      </div>
    </div>
  </div>
</div>
