<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{common/layouts/lo_customer}" xmlns="http://www.w3.org/1999/html">
<th:block layout:fragment="content">
    <div class="container">
        <main id="main-contents">
            <div class="page-header split-container type-underline">
                <h2>저작권 정책</h2>
                <div class="forms type-horizontal">
                    <label for="update-date" class="text-black"><strong class="semi">게시일</strong></label>
                    <fieldset>
                        <input type="search" title="이름 입력란" name="" id="update-date" readonly value="2020년 12월 28일">
                    </fieldset>
                </div>
            </div>
            <div class="policy-wrap">
                <div class="inner">
                    <div class="desc">
                        <img src="/assets/images/common/img-policy-copyright.png" alt="저작권 정책 이미지">
                        <p class="title"><strong>선생님, 안녕하세요. 미래엔 엠티처 입니다.</strong></p>
                        <p class="margin-top-lg text-md">
                            <strong class="semi"> 미래엔 교과서와 엠티처 자료를 수업에 활용해 주셔서 감사드립니다.<br /> 엠티처에서 다운로드 서비스하고 있는 모든 자료는 저작권법에 따라 선생님의 관리 하에 한정된 학생들에게 제한하여 이용하실 수 있으며, 자료 이용 시 출처 표기와 학생 유의 사항 안내 문구 게시를 부탁드립니다. 또한 자료 이용과 관련하여<br />
                                <span class="text-primary">저작권법에 따라 다음과 같이 안내드리고 있으니 확인 부탁드립니다.</span>
                            </strong>
                        </p>
                    </div>
                    <ol>
                        <li>
                            <span class="num">1</span>
                            <p> 엠티처 자료는 수업을 목적으로 선생님의 관리 하에 한정된 학생들에게 제한하여 이용할 수 있습니다.<br /> 대면 상황이 아닌 학교에서 원격 교육으로 운영되는 홈페이지 등에서도 “수업 및 수업지원 목적임"을 명시하여<br /> 활용할 수 있음을 교육부에서 안내하고 있습니다. </p>
                        </li>
                        <li>
                            <span class="num">2</span>
                            <p>학생들에게 교사가 안내한 공간에서만 자료를 이용하여 학습하고, 다른 사이트에 공유하지 않도록 교육하여야 합니다.</p>
                        </li>
                        <li class="align-top">
                            <span class="num">3</span>
                            <div>
                                <p><strong class="semi">엠티처 자료를 이용할 때 출처 표기 및 학생 안내 예입니다. 자료 이용 시, 출처 표기 및 학생 안내 문구 입력을 부탁드립니다.</strong></p>
                                <h5 class="margin-top-lg"><strong>1) 출처 표기 예시</strong></h5>
                                <p class="margin-top-sm">[출처] 본 자료는 학교 수업을 위하여 (주)미래엔에서 제공하는 자료를 참고하여 제작하였으므로 학습 외 목적으로 이용될 시 저작권법 위반에 해당될 수 있습니다.</p>
                                <h5 class="margin-top-lg"><strong>2) 학생 유의 사항 안내 예시</strong></h5>
                                <p class="margin-top-sm">[저작권 위반 경고] 저작권법(제25조 2항)에 따라 학교 수업을 위한 저작물(사진, 글, 그림, 영상 등)은 본 홈페이지에서만<br />이용가능하며 이 외의 공간에서 저작물을 공유 또는 게시하는 행위는 저작권법 위반에 해당될 수 있습니다.</p>
                            </div>
                        </li>
                    </ol>
                    <p class="thank">감사합니다.</p>
                </div>
            </div>
        </main>
    </div>

</th:block>

<th:block layout:fragment="addCss">
    <link href="/assets/pc/css/pages/common/policy.css" rel="stylesheet" />
</th:block>

</html>